<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
<link rel="stylesheet" href="/2024/assets/css/styles.css">
<meta http-equiv="content-language" content="en" />
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <style>  
    p.ind{  
      text-indent: 2em;  
    }  
 </style>  
<title>{{ page.title }}</title>
</head>

<body>
<div id="head">
<br/>
<table style="background-color: #ffffff; color: white; font-size: 200%; width: 100%; max-width: 100%; border: 0px;" cellspacing="0">
  <tr>
    <td style="text-align: center; border: 0px; font-size: 60%; color:#006699;" width="30%" colspan="1">
      September 9–10
    </td>
    <td style="text-align: center; border: 0px; color:#006699;">
      <b>TAP 2024</b>
    </td>
    <td style="text-align: center; border: 0px; font-size: 60%; color:#006699;" width="30%" colspan="1">
      Milan, Italy
    </td>
  </tr>
  <tr style="background-color: #006699;">
    <td style="text-align: center; border: 0px; padding-top:15px;" colspan="3">
      18th International Conference on Tests and Proofs
    </td>
  </tr>
  <tr style="background-color: #006699;">
    <td style="text-align: center; border: 0px; padding-top:10px;" colspan="3">
      <img src="/2024/assets/images/header8.jpg" width="100%" alt="Milan"/>
    </td>
  </tr>
  <tr style="background-color: #006699;">
    <td style="text-align: center; border: 0px; font-size: 60%;padding:5px;" colspan="3">
      Part of <a style="color: #f04242;" href="https://www.fm24.polimi.it/">FM 2024</a>
    </td>
  </tr>
</table>

<br/>
</div>

<div id="Navigation">
<div id="navigation-head"></div>
{% include navigation.html %}
</div>

<div id="main"><div id="content">
 {{ content }}
</div></div>

<div id="footer">
  <div style="display:inline-block;margin-right:20px;vertical-align:middle;"><p><b>Sponsors &amp; <br/> Supporters:</b></p></div>
  <img src="/2024/assets/images/eapls-logo.jpeg" height="80"/>
</div>

<div id="footer">
  <p>If you did not find what you are looking for, please do not hesitate to contact the PC chairs.</p>
  <p>(Homepage photo credits: @Anna Della Badia – YesMilano)</p>
  <div><p><small><a href="/2024/imprint.html">Imprint</a></small></p></div>
</div>

</body>
</html>
